body {
    background-image: url("../images/clouds.jpg");
    
    
}

#hanging {
    
    background-color: none;
}

#scores {
    top: -30px;
}

img {
    height: 300px;
    border: 3px solid black;

}
.jumbotron {
    background-image: url("../images/dragon1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: white;
    height: 540px;
    color: white;
    border: 8px solid white;
}

div.jumbotron {
    background-color: white;
}

#blanks {
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

#headBox {
    background-image: url("../images/black-hole1.jpg");
    background-position: left;
    height:420px;
}


@media (max-width: 1300px){
    #scores{
        left: 200px;
    }
}

@media (max-width: 768px){
    
    #headBox {
        height: 600px;
        font-weight: bold;
    }
    #blanks {
        width:400px;
        font-size: 40px;
    }
    #scores {
        top: 0;
        left:0;
    }
}